@import "tailwindcss";

:root {
  --background: #f1f5eb;
  --icon: #83cd20;
  --globbg: #034833;
  --heading: #0e191e;
  --para: #727272;
  --border: #e3dbd8;
  --primaryhead: #16171a;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1900px;
}

button {
  cursor: pointer;
}
.head {
  color: var(--globbg);
}
.head-sec {
  color: var(--primaryhead);
}
.globbg {
  background: var(--globbg);
}
.green {
  color: var(--icon);
}
.bggreen {
  background: var(--icon);
}
.para {
  color: var(--para);
}
